<%= form_for @work, url: {action: 'update', :work_id => @work.id } do |f| %>
	<h3>Title</h3><%= f.text_field :title, class: "form-control" %>
	<h3>Description</h3><%= f.text_field :description, class: "form-control" %>
	<h3>Screenshot (url)</h3><%= f.text_field :screenshot_url, class: "form-control" %>
	<h3>Demo (url)</h3><%= f.text_field :demo_url, class: "form-control" %>
	<h3>Technology Used?</h3><%= f.text_field :technology_used, class: "form-control" %>
	<br /><%= f.submit "Update Work", class: "btn btn-default"  %>
<% end %>