<h1>Add a new work to your Portfolio</h1>
<%= form_for @work, url: {action: 'create'}, :html => {class: "form-group"} do |f| %>
	<h4>Title</h4><%= f.text_field :title, class: "form-control" %>
	<h4>Description</h4><%= f.text_field :description, class: "form-control" %>
	<h4>Screenshot URL</h4><%= f.text_field :screenshot_url, class: "form-control", value: "http://..." %>
	<h4>Demo</h4><%= f.text_field :demo_url, class: "form-control", value: "http://..." %>
	<h4>Technology Used?</h4><%= f.text_field :technology_used, class: "form-control" %>
	<br /><%= f.submit "Save New Work", class: "btn btn-default" %>
<% end %>